.game_app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

.player1_button {
	width: 100vw;
	height: 20vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
.player1_button .player1_win{
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	font-size: 40px;
	align-self: stretch;
}
.player1_button .player1_lose{
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	font-size: 40px;
	align-self: stretch;
}


.center-container {
	width: 100vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
}
.center-container .game-canvas{
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
}
.center-container .start-game{
	font-size: 40px;
}

.player2_button {
	width: 100vw;
	height: 20vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}
.player2_button .player2_win{
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	font-size: 40px;
	align-self: stretch;
}
.player2_button .player2_lose{
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	font-size: 40px;
	align-self: stretch;
}

/* .center-container .game-canvas{
	position: absolute;
	top: 0;
	left: 0;
}

.center-container .start-game {
	position: absolute;
	top: 200px;
	left: 200px;
}  */